<table ng-show="viewshow">
		<thead>
			<th>View</th>
			<th>Orientation</th>
		</thead>
		<tbody>
			<tr class="mobile-view"><td>Mobile</td>
				<td><a class="portrait" href="" ng-click="openwindow('mobile','portrait')">Portrait</a> | <a class="landscape" href="" ng-click="openwindow('mobile','landscape')">Landscape</a></td></tr>
			<tr class="tablet-view"><td>Tablet</td>
				<td><a class="portrait" href="" ng-click="openwindow('tablet','portrait')">Portrait</a> | <a class="landscape" href="" ng-click="openwindow('tablet','landscape')">Landscape</a></td></tr>
		</tbody>
</table>

